.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myHeader{
  background-color: #20232a;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
/* @media (min-width: 1340px) */
.div1{
    max-width: 1260px;
}

/* @media (min-width: 780px) */
.div1{
    width: 90%;
}
.div1{
  padding-left: 30px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.div2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.home {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-right: 10px;
  height: 100%;
  align-items: center;
  color: #61dafb;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.homeName {
  color: inherit;
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
a{
  text-decoration:none;
}
.menuList {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
}
.menuItem {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  transition: color 0.2s ease-out;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 300;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
}
.menuItem {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}
.home{
  width: calc(100% / 6);
}
.searchBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  -webkit-flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.inputBox{
  width: 100%;
  appearance: none;
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  position: relative;
  padding: 4px 4px 4px 29px;
  background-image: url(/search.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.glyph{
    position: absolute;
    padding: 10px;
    pointer-events: none;
    /* content :'&#XF002'; */
}
form.searchBox button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #61dafb;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
